.parte1{
    display: flex;
    color: whitesmoke;
   
}

.origen{    
    font-family:'Alfa Slab One', cursive;
   
    color: white;
} 

.historia1{
   margin-top: 60px;
   margin-right: 160px;
   color: white;
    
}

.imghistoria1{
        height: 25%;
}

.parte2{
    display: flex;
    background-image: linear-gradient(white, grey, black);
}

.imghistoria2{
    height: 25%;
}